# sample cfg configuration file

# 1st flash partition to use for storage
DEV1=/dev/mtd1

# 2nd flash partition to use for storage
# Leave undefined if failsafe not needed
DEV2=/dev/mtd2

# directory to save
DIR=/etc

# mountpoint to remount underlying static contents at
MOUNTPOINT=/mnt/rom-etc

# setup handler - This is called when cfg doesn't detect a valid cfg
# image in flash. It is called after the contents of $DIR is copied to
# the ram disk, and can be used to modify the content before it is
# written to flash (E.G. replace files with symlinks to their static
# counter parts)
on_setup() {
	   # $1 = DIR, $2 = MOUNTPOINT
	   echo Fixing up files
}

# list of files/directories to save. Is passed to the shell, so wildcards
# are allowed
SAVE='network/interfaces'
